@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes logo-move {
    0% { 
        left: -80%;
        opacity: 0;
    }
    100% {
        left: 0%; 
        opacity: 1;
    }
}

@keyframes logo-move {
    0% { 
        left: -80%;
        opacity: 0;
    }
    100% {
        left: 0%; 
        opacity: 1;
    }
}

#at-symbol,
#d-green,
#s-green,
#p-green,
#C-orange,
#e-orange,
#n-orange,
#t-orange,
#r-orange,
#a-orange,
#l-orange,
#dot-pink,
#i-pink,
#n-pink,
#f-pink,
#o-pink {
    /*animation-name*/
    -webkit-animation-name: fade-in;
    -moz-animation-name: fade-in;
    -ms-animation-name: fade-in;
    -o-animation-name: fade-in;
    animation-name: fade-in;

    /*animation-duration*/
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    /*animation-timing-function*/
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;

    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#at-symbol {
    color: #000000;

    /*animation-delay*/
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

#d-green {
    color: #5e9f00;

    /*animation-delay*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

#s-green {
    color: #5e9f00;

    /*animation-delay*/
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#p-green {
    color: #5e9f00;

    /*animation-delay*/
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

#C-orange,
#e-orange,
#n-orange,
#t-orange,
#r-orange,
#a-orange,
#l-orange {
    color: #ff3e00;
}

#C-orange {
    max-width: 32px;
    display: inline-block;
    /*animation-delay*/
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

#e-orange {
    /*animation-delay*/
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
}

#n-orange {
    /*animation-delay*/
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

#t-orange {
    /*animation-delay*/
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -ms-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
}

#r-orange {
    /*animation-delay*/
    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    -ms-animation-delay: 4.5s;
    -o-animation-delay: 4.5s;
    animation-delay: 4.5s;
}

#a-orange {
    /*animation-delay*/
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -ms-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

#l-orange {
    /*animation-delay*/
    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
    -ms-animation-delay: 5.5s;
    -o-animation-delay: 5.5s;
    animation-delay: 5.5s;
}

#dot-pink,
#i-pink,
#n-pink,
#f-pink,
#o-pink {
    color: #ea004d;
}

#dot-pink {
     /*animation-delay*/
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}

#i-pink {
     /*animation-delay*/
    -webkit-animation-delay: 6.5s;
    -moz-animation-delay: 6.5s;
    -ms-animation-delay: 6.5s;
    -o-animation-delay: 6.5s;
    animation-delay: 6.5s;
}

#n-pink {
     /*animation-delay*/
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -ms-animation-delay: 7s;
    -o-animation-delay: 7s;
    animation-delay: 7s;
}

#f-pink {
     /*animation-delay*/
    -webkit-animation-delay: 7.5s;
    -moz-animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -o-animation-delay: 7.5s;
    animation-delay: 7.5s;
}

#o-pink {
     /*animation-delay*/
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -ms-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s;
}

.logo {
    opacity: 0;
}

.logo.visible {
    opacity: 1;
}