html,
body {
	font-family: 'Comfortaa', cursive;
	background-color: #E2E2E2;
}

a {
	color: #011BC0;
}

legend {
	margin-bottom: 0;
	width: inherit;
}

.table > thead > tr > th {
    border-bottom: 2px solid #aaa;
    vertical-align: bottom;
}

.se-brand {
	padding: 6px;
}

.se-brand a {
	text-decoration: none;
}

.se-logo {
	max-width: 38px;
	display: inline-block;
}

.se-nav-top {
	background-color: #FFFFFF;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}

.se-nav-bottom {
	background-color: #303030;
	min-height: 36px;
}

.se-footer > li > a {
	color: #FF3E00;
	line-height: 14px;
	padding: 10px 15px;
	font-size: 0.85em;
}

.se-footer > li > a:hover > span.se-subtext,
.se-footer > li > a:hover > span.se-subtext {
	color: #303030;
}

.se-subtext {
	color: #DDDDDD;
}

#page-content,
#content-swapper {
	margin-top: 60px;
}

.profileBanner {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-top: -8px;
	margin-bottom: 10px;
}

.profilePic {
	max-width: 150px;
	padding-bottom: 14px;
}

.profileHeaders {
	margin-top: 0;
}

.black {
	color: #000000;
}

.green {
	color: #5e9f00;
}

.orange {
	color: #ff3e00;
}

.pink {
	color: #ea004d;
}

.C-image {
	max-width: 32px;
    display: inline-block;
}

/* Progress Display */
#progress-display {
	padding: 0;
}

.bar {
	width: 100%;
	background-color: #CCCCCC;
	padding: 3px;
	margin-bottom: 10px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
	border-radius: 3px;
	box-sizing: border-box;
}

.bar-fill {
	height: 20px;
	display: block;
	background-color: cornflowerblue;
	width: 0;
	border-radius: 3px;
	transition: width 0.8s ease;
}

.bar-fill-text {
	color: #FFFFFF;
	padding: 3px;
}

#status {
	position: absolute;
	text-align: center;
	width: 100%;
}

#status a {
	color: #ff3e00;
}

#uploadForm {
	display: none;
}

#upload-frame {
	max-height: 250px;
	width: 100%;
	opacity: 0;
	display: none;
}

h1.upload-frame {
	margin-top: 0;
}

h1.upload-frame sub {
	margin-left: 1em;
	bottom: 0;
	color: #ff3e00;
}

.sub-button {
	bottom: .3em;
	padding-left: 1em;
}

h4.upload-frame {
	margin: 0.2em;
}

h4.upload-frame sub {
	bottom: 0;
    color: #5e9f00;
    font-size: 90%;
}

p.upload-frame {
    color: #5e9f00;
}

h1.res-headers {
	margin-bottom: 20px;
}

#addContainer {
	display: inline-block;
}

#pagination-bottom {
	margin-bottom: 68px;
}

.selected {
	font-weight: bold;
}

div#pagination-bottom ul.pagination,
div#pagination-top ul.pagination,
div#res-list table.table,
div#modules ol.breadcrumb,
div#prefabs ol.breadcrumb,
div#graphics ol.breadcrumb,
div#tools ol.breadcrumb,
div#docs ol.breadcrumb,
div#misc ol.breadcrumb {
	margin-bottom: 0;
}

form#uploadForm fieldset {
	margin-top: 20px;
}

.fileDescription {
	display: none;
}

@-webkit-keyframes descAnim {
	0% {
        opacity: 0;
        /* transform: translate(0, -100%); */
	}
	100% {
        opacity: 1;
        /* transform: translate(0, 0); */
	}
}

@keyframes descAnim {
	0% {
        opacity: 0;
        /* transform: translate(0, -100%); */
	}
	100% {
        opacity: 1;
        /* transform: translate(0, 0); */
	}
}

.show-desc {
	display: table-row;
	-webkit-animation-name: descAnim;
	-moz-animation-name: descAnim;
	-ms-animation-name: descAnim;
	-o-animation-name: descAnim;
	animation-name: descAnim;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.fileDescription td {
	padding: 0 !important;
}

.show-desc div {
    background-color: #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #333;
    padding: 15px;
    margin-bottom: 15px;
}

.show-desc:hover {
	background-color: transparent !important;
}

#res-list h4 {
	margin-top: 0;
}

#res-list h4 sub {
	bottom: 0;
}

.file-item {
	cursor: pointer;
}

tr.tab-desc hr {
	border-color: #555;
}

#toTop {
	display: none;
}

.user-menu {
	padding: 6px !important;
}

.user-icon {
	max-width: 38px !important;
	padding: 0;
}

.res-label {
	text-align: right;
	line-height: 20px;
}