@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes logo-move {
    0% { 
        left: -80%;
        opacity: 0;
    }
    100% {
        left: 0%; 
        opacity: 1;
    }
}

@keyframes logo-move {
    0% { 
        left: -80%;
        opacity: 0;
    }
    100% {
        left: 0%; 
        opacity: 1;
    }
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
    opacity: 0;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;

    /*animation-name*/
    -webkit-animation-name: fade-in;
    -moz-animation-name: fade-in;
    -ms-animation-name: fade-in;
    -o-animation-name: fade-in;
    animation-name: fade-in;

    /*animation-duration*/
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    /*animation-timing-function*/
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;

    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    /*animation-delay*/
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

img.bg.visible{
    opacity: 1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

a {
    color: #8677C9;
}

.navbar-inverse
.navbar-nav > li > a {
    color: #CCC;
}

.navbar-inverse
.navbar-nav > li > a:hover {
    color: #FCC270;
}

#logoText {
    color: #EEE;
    font-size: 1.3em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 48px;
    margin-right: 20px;
}

.logoText-smaller {
    color: #AFCAFC;
    font-size: 0.7em;
}

.coming-soon {
    text-align: center;
    padding-top: 25%;
}

h1.coming-header {
    text-transform: uppercase;
    font-size: 1.8em;
    opacity: 0;

    /*animation-name*/
    -webkit-animation-name: fade-in;
    -moz-animation-name: fade-in;
    -ms-animation-name: fade-in;
    -o-animation-name: fade-in;
    animation-name: fade-in;

    /*animation-duration*/
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    /*animation-timing-function*/
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;

    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    /*animation-delay*/
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

h1.coming-header.visible {
    opacity: 1;
}

img.logo {
    width: 524px;
    margin: auto;
    position: relative;
    left: -80%;

    /*animation-name*/
    -webkit-animation-name: logo-move;
    -moz-animation-name: logo-move;
    -ms-animation-name: logo-move;
    -o-animation-name: logo-move;
    animation-name: logo-move;

    /*animation-duration*/
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;

    /*animation-timing-function*/
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;

    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    /*animation-delay*/
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

img.logo.visible {
    left: 0;
    opacity: 1;
}

.contentArea {
    padding: 0px 30px;
    margin-top: 70px;
}

.txt-vert-cntr {
    line-height: 48px;
}

.members-headers {
    color: #555555;
}

.members-headers small {
    color: #AFCAFC;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}

#errorMsgs {
	height: 60px;
}

.errorMsg, 
.feedback {  
    color: #FF0000;
}

.feedback {
    margin-left: 14px;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
}

.errorList {
    padding: 0;
}

.errorList li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background: #CCC;
    border: 1px solid #999;
    border-radius: 6px;
}

#openTerms {
}

#termsContent {
	display:none;
}

.profileBanner {
	margin-top: -20px;
	background-color: #CCC;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 10px 10px;
}

.profileHeaders {
	margin: 0 0 10px 0;
}

.profileSidebar {;
	margin-top: 10px;
	height: 60%;
	border-right: 1px solid #CCC;
}

.profileContent {
	padding-top: 10px;
}

#editProfileTabs {
    margin-top: 20px;
}

.forgot {
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.copyright {
    margin-right: 20px;
    color: #FFF;
}

#toTop {
    display: none;
}

/* Menu Items */
#index li.index, 
#login li.login, 
#logout li.logout, 
#profile li.profile, 
#register li.register, 
#update li.update, 
#userpass li.userpass,
#login-footer li.login-footer,
#logout-footer li.logout-footer,
#profile-footer li.profile-footer,
#register-footer li.register-footer,
#update-footer li.update-footer, 
#userpass-footer li.userpass-footer {
	background: #000;
}

#index li.index, 
#login li.login, 
#logout li.logout, 
#profile li.profile, 
#register li.register, 
#update li.update, 
#userpass li.userpass {
	padding-top: 24px;
	height: 50px;

}

#index li.index a, 
#login li.login a, 
#logout li.logout a, 
#profile li.profile a, 
#register li.register a, 
#update li.update a, 
#userpass li.userpass a,
#login-footer li.login-footer a,
#logout-footer li.logout-footer a,
#profile-footer li.profile-footer a,
#register-footer li.register-footer a,
#update-footer li.update-footer a, 
#userpass-footer li.userpass-footer a {
	color: #FCC270;
	background: #000;
}

/* Ajaxify corrections */
.document-meta {
	height: 0px;
}